//colors
$gray                               : #4A4A4A
$black                              : #2c2d30
$purple                             : #4D394B
$green                              : #38978D
$blue                               : #3AA3E3
$light-yellow                       : #fffce0
$light-gray                         : #D0D0D0


//element colors
$time-stamp-gray                    : #9e9ea6
$link-blue                          : #439fe0
$channel-active-green               : #4c9689
$channel-name-color                 : #555459
$upload-button-green                : #56B68B
$splash-background-gray             : #F9F9F9
$form-border-gray                   : #e8e8e8
$big-green-btn-green                : #2ab27b
$light-orange                       : #ffa940
$light-background-blue              : #edf7fd
$light-border-blue                  : #d3ecfa

// logo colors
$light-blue                         : #6ecadc
$orange                             : #e9a820
$pink                               : #e01563
$light-green                        : #3eb991

//thread colors
$thread-color-0                     : $light-blue
$thread-color-1                     : $orange
$thread-color-2                     : $pink
$thread-color-3                     : $light-green
$thread-color-4                     : $light-blue
$thread-color-5                     : $green
$thread-color-6                     : $blue
$thread-color-7                     : $gray
